<h1>Bibliocarta</h1>
<p>Travel as you read, read as you travel</p>
<p>Find books by location and create your own reading map</p>

<%= link_to "Login", new_user_session_path  %>
<%= link_to "Sign Up", new_user_registration_path  %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>