<%= render 'refills/navigation' %>
<%= render 'refills/hero' %>

<div>
  <ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="assets/map-icon.png
" alt="">
    </div>
    <div class="bullet-content">
      <a href="/places"><h2>Explore</h2></a>
      <p>Planning your next journey? We believe that a novel or travelogue can be just as valuable an introduction to a place as any guidebook. Our world map indexes history, travel writing, and fiction by location. <a href="/places">Start exploring now</a>.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="assets/marker.png" alt="">
    </div>
    <div class="bullet-content">
      <% if user_signed_in? %>
         <h2><%= link_to "Create", user_path(current_user) %></h2>
         <% else %>
         <h2>Create</h2>
      <% end %>
      <p>Once you <a href="/users/sign_up?">sign up</a>, you can begin adding books to your collection. As you add titles, markers will appear on your own personal reading map.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="assets/book-white.png" alt="">
    </div>
    <div class="bullet-content">
      <a href="/books"><h2>Discover</h2></a>
      <p>Find your next great read in our <a href="/books"> selection</a> of world literature. Or, browse other <a href="/users">users' collections</a>.</p>
    </div>
  </li> 
</ul>

</div>