$(".c-places.a-index").ready ->
  L.mapbox.accessToken = '<%= ENV["MAPBOX_TOKEN"] %>'
  map = L.mapbox.map('map_books', 'anitap.2b45a7d5', 
                        continuousWorld: false
                        noWrap: true
                        zoomControl: true
                        )
                    .setView([41, 0], 2)
  map.touchZoom.disable()
  map.scrollWheelZoom.disable()
      

  setPopups = (e) ->
      marker = e.layer
      properties = marker.feature?.properties

      popupContent = '<div class="popup">' +
                        '<a href="/places/' + properties?.id + '">' + 
                        properties?.name + '</a>' +
                        '<p>Top title: <em>' + properties?.title + '</em></p>' + 
                        '<a href="/places/' + properties?.id + '">' + 
                        'Total books: ' + properties?.books + 
                        '</a>' +
                      '</div>'

      if marker.bindPopup?
        marker.bindPopup popupContent,
          closeButton: true
          minWidth: 200

    $.ajax
      cache: false 
      url: '/places.json'
      dataType: 'json'
      success: (geojson) ->
        myLayer = L.mapbox.featureLayer().addTo(map)
        myLayer.on 'layeradd', setPopups
        myLayer.setGeoJSON(geojson)
        return
