$ -> 
  
    setPopups = (e) ->
      marker = e.layer
      properties = marker.feature?.properties

      popupContent = '<div class="popup">' +
                        '<a href="/places/' + properties?.id + '" target="_blank">' + 
                        '<h4>' + properties?.name + '</h4>' +
                        '</a>' +
                        '<p>Top title: <em>' + properties?.title + '</em></p>' + 
                        '<a href="/places/' + properties?.id + '" target="_blank">' + 
                        '<p>click for full list (total: ' + properties?.books + ' )</p>'+
                        '</a>' +
                      '</div>'

      if marker.bindPopup?
        marker.bindPopup popupContent,
          closeButton: true
          minWidth: 200


    $.getJSON '/places.json', (geojson) ->
      L.mapbox.accessToken = '<%= ENV["MAPBOX_TOKEN"] %>'
      map = L.mapbox.map('map', 'anitap.2b45a7d5', tileLayer:
                        continuousWorld: false
                        noWrap: true
                        zoomControl: false
                        )
                    .setView([40, 0], 2)
                    .on('layeradd', setPopups)
                    .featureLayer.setGeoJSON(geojson)
                    .dragging.disable()
                    .touchZoom.disable()
                    .scrollWheelZoom.disable()
      
