$ -> 
  
    setPopups = (e) ->
      marker = e.layer
      properties = marker.feature?.properties

      popupContent = '<div class="popup">' +
                        
                        '<h4>' + properties?.name + '</h4>' +
                        '<p>' + properties?.books + ' books</p>' +
                      '</div>'

      if marker.bindPopup?
        marker.bindPopup popupContent,
          closeButton: true
          minWidth: 200


    $.getJSON '/places.json', (geojson) ->
      L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_token %>'
      map = L.mapbox.map('map', 'anitap.n7n00g62', tileLayer:
                        continuousWorld: false
                        noWrap: true
                        )
                    .setView([40, 0], 2)
                    .on('layeradd', setPopups)
                    .featureLayer.setGeoJSON(geojson)
                    .dragging.disable()
                    .touchZoom.disable()
      
