$ -> 
  
    setPopups = (e) ->
      marker = e.layer
      properties = marker.feature?.properties

      popupContent = '<div class="popup">' +
                        
                        '<h4>' + properties?.name + '</h4>' +
                        '<p>' + properties?.books + ' books</p>' +
                      '</div>'

      if marker.bindPopup?
        marker.bindPopup popupContent,
          closeButton: true
          minWidth: 200


    $.getJSON '/places.json', (geojson) ->
      L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_token %>'
      # L.mapbox.accessToken = '<%= ENV["MAPBOX_TOKEN"] %>'
      # L.mapbox.accessToken = 'pk.eyJ1IjoiYW5pdGFwIiwiYSI6ImU3ZGNjYTg0OGFlODAzNzRmZWRkNjQ0NDQzOGExZDJhIn0.guLXPMbKlm5LoUZXIKkmcw'
      map = L.mapbox.map('map', 'anitap.n7n00g62')
                    .setView([40.7126, 74.0059], 2)
                    .on('layeradd', setPopups)
                    .featureLayer.setGeoJSON(geojson)
