@import "bourbon";
@import "base/base";
@import "neat/neat";
@import "jquery-ui/autocomplete";
@import "books";
@import "home";
@import "maps";
@import "places";
@import "users";

.admin-form-headline {
  margin: 20px 0;
  font-size: 2em;
  text-align: center;
  color: $red;
}

.delete-link {
  margin: 10px auto;
  text-align: center;
  
    a {
    font-size: 1.5em;
    font-weight: bold;
    color: $red;
  }
}
