// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "refills/navigation";
@import "refills/hero";

.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #003366 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1.2em auto;
  overflow: auto;
  padding: 0;
  max-width: 1100px;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
    margin: 1.2em;
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, 130%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -110%);
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

#feature-bk {
  background-color: Gainsboro;
  background: url("http://images.randomhouse.com/cover/9781594483783") no-repeat center center;
  height: 450px;
}

.side-image .feature-book {
  margin-bottom: 0;
}

.footer-2 {
  $base-spacing: 1.5em !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-text-color: rgba(255,255,255,0.7);

  background: $dark-gray;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: $footer-text-color;

  a {
      color: $footer-text-color;
      display: inline-block;
      font-weight: 400;

      &:focus,
      &:hover {
        color: $green;
      }
    }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
    
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

}
