
// = require leaflet
// = depend_on_asset "layers.png"
// = depend_on_asset "layers-2x.png"


body { 
  width: 100%;
  margin:0; 
  padding:0;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:$dark-gray;
  color:#fff;
  font-family: $base-font-family;
  font-size:18px;
  line-height:24px;
  }

.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }

.custom-popup .popup a {
  color: #fff;

    &:hover {
      color: $gold;
    }
}

.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }

.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid $dark-gray;
  }

/*mapbox map styling*/
#map { position:absolute; right: 0; top:0; bottom:0; width: 80%; }
#map_user { position:absolute; right: 0; top:0; bottom:0; width: 80%; }

