<div id="places-index">
  <div class="side">
    <h1>Where are you going?</h1>
    <p>Locate your destination on the map and click to find books.</p>
  </div>
</div>

<div id="map">
 
</div>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
