<div id="places-index">
  <%= render 'shared/nav' %>
  <div class="side">
    <h1>Where will your next book take you?</h1>
    <hr>
    <p>Find your destination on the map</p>
    <p>Follow the links to start building your own reading list</p>
  </div>
</div>
<div class='custom-popup mobile-cols' id='map_books'></div>